
<div class="row">
  <div class="col-sm-3" *ngFor="let cartItem of cartItems">
    <div class="card-deck">
      <div class="card mt-3">
        <img
          class="card-img-top"
          [src]="imageUrl+cartItem.car.imagePath"
          alt="Car image"
        />
        <div class="card-body">
          <h5 class="card-title">{{cartItem.quantity}}</h5>
          <p class="card-text">
            {{cartItem.car.colorName}}
          </p>
          <p class="card-text">
            <small class="text-muted">{{cartItem.car.description}}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

