<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Araç Kiralama</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Ana Sayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="carAdd">Araba Ekleme</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="login">Kullanıcı Girişi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="register">Kullanıcı Kayıt</a>
        </li>

        <li *ngIf="cartItems.length>0" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sepetiniz
          </a>
          <div style="color: black;">
          <ul class="dropdown-menu">
            <li *ngFor="let cartItem of cartItems">
              <a class="dropdown-item"
                ><span class="badge text-bg-secondary">{{ cartItem.quantity }}</span>
                {{ cartItem.car.brandName}}
                <span
                  (click)="removeFromCart(cartItem.car)"
                  class="badge text-bg-secondary"
                  >Sil</span
                ></a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="cart">Sepete Git</a></li>
          </ul>
        </div>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Araç Ara"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Arama</button>
      </form>
    </div>
  </div>
</nav>
